*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	height: 100%;
	font-size: var(--bodyFontSize);
}

#root {
	height: 100%;
}

.App {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

img {
	height: 100%;
	max-width: 100%;
}

h1 {
	font-size: var(--h1FontSize);
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
