.contact {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem 0 1rem;

	@include from(mm) {
		font-size: 1.2rem;
	}

	@include from(ml) {
		font-size: 1.4rem;
	}

	&__container {
		height: 75%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__title {
		font-size: 1.8rem;
		color: var(--firstColor);
		height: 10%;
		display: flex;
		align-items: center;

		@include from(mm) {
			font-size: 2rem;
		}

		@include from(ml) {
			font-size: 2.2rem;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		height: 90%;
		justify-content: space-evenly;
	}

	&__linkContainer {
		width: 70%;
		height: 12%;
	}

	&__link {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	}

	&__linkLogo {
		height: 70%;
		width: auto;
	}

	&__image {
		align-self: flex-end;
		width: auto;
		height: 20%;
	}
}
