.cv {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;

	&__title {
		font-size: 1.8rem;
		color: var(--firstColor);
		padding-bottom: 1.5rem;
	}

	&__imgContainer {
		display: flex;
		justify-content: center;
		padding-bottom: 1.5rem;
	}

	&__img {
		width: 65%;
		height: auto;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__linksTitle {
		font-size: 1rem;
		color: var(--firstColor);
		padding-bottom: 0.3rem;
	}

	&__downloads {
		display: flex;
		gap: 0.6rem;
	}

	&__download {
		font-size: 0.7rem;
		background-color: white;
		border: 0.1rem solid var(--firstColor);
		border-radius: 3px;
		padding: 0.5rem 1rem;
		align-self: flex-start;
		width: max-content;
		list-style: none;
	}

	&__svg {
		position: absolute;
		height: 10%;
		width: auto;
		bottom: calc(#{$footerHeightM} + 15%);
		right: 1rem;
	}
}
