.home {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__description {
		font-size: 0.9rem;
	}

	&__introduce {
		padding-bottom: 1rem;
	}

	&__title {
		font-size: 2rem;
		color: var(--firstColor);
		padding-bottom: 0.5rem;
	}

	&__subtitle {
		font-size: 1.75rem;
		color: #767676;
		padding-bottom: 1.5rem;
	}

	&__paragraph {
		padding-bottom: 1rem;
	}

	&__getInTouchButton {
		font-size: 1rem;
		font-weight: bold;
		background-color: white;
		color: var(--firstColor);
		border: 2px solid var(--firstColor);
		border-radius: 3px;
		padding: 1rem;
		align-self: flex-start;
		width: max-content;
	}

	&__image {
		align-self: flex-end;
		width: 50%;
		height: auto;
		padding-top: 1rem;
		padding-right: 1.5rem;
	}
}

.aboutMe {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	scroll-snap-align: start;

	&__description {
		font-size: 0.9rem;
		align-self: start;
		padding-bottom: 1rem;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
	}

	&__introduce {
		padding-bottom: 0.5rem;
	}

	&__unexca {
		font-weight: bold;
		color: var(--firstColor);
	}

	&__imageContainer {
		background: var(--firstColor);
		height: auto;
		width: 70%;
		border-radius: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;

		border-radius: 100%;
		object-fit: cover;
	}
}
