.home {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	padding: 0 1rem 1rem 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__description {
		font-size: 0.9rem;
		height: 75%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include from(mm) {
			font-size: 1.2rem;
		}
	}

	&__introduce {
		padding-bottom: 0.6rem;
	}

	&__title {
		font-size: 2rem;
		color: var(--firstColor);
		padding-bottom: 0.5rem;

		@include from(mm) {
			font-size: 2.3rem;
		}
	}

	&__subtitle {
		font-size: 1.75rem;
		color: #767676;
		padding-bottom: 1.5rem;

		@include from(mm) {
			font-size: 2rem;
		}
	}

	&__paragraph {
		padding-bottom: 1rem;
	}

	&__getInTouchButton {
		font-size: 1rem;
		font-weight: bold;
		background-color: white;
		color: var(--firstColor);
		border: 0.1rem solid var(--firstColor);
		border-radius: 0.3rem;
		padding: 0.8rem;
		align-self: flex-start;
		width: max-content;

		@include from(mm) {
			font-size: 1.2rem;
			padding: 1rem;
		}
	}

	&__image {
		align-self: flex-end;
		width: auto;
		height: 25%;
		margin-top: auto;
		padding-right: 1rem;

		@include from(mm) {
			height: 35%;
		}
	}
}

.aboutMe {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem 1rem 1rem;
	scroll-snap-align: start;

	&__description {
		font-size: 0.9rem;
		align-self: start;
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include from(mm) {
			font-size: 1.2rem;
		}
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;

		@include from(mm) {
			font-size: 2rem;
		}
	}

	&__introduce {
		padding-bottom: 0.5rem;
	}

	&__unexca {
		font-weight: bold;
		color: var(--firstColor);
	}

	&__imageContainer {
		background: var(--firstColor);
		height: 40%;
		width: auto;
		border-radius: 100%;
		display: flex;
	}

	&__image {
		height: 100%;
		width: auto;
		border-radius: 100%;
		object-fit: cover;
	}
}
