.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  scroll-snap-align: center;

  @include from(t) {
    height : calc(100vh - #{$headerHeightT} - #{$footerHeightT});
    padding: 0 2rem 2rem 2rem;
  }

  @include from(l) {
    height : calc(100vh - #{$headerHeightL});
    padding: 0 3rem 3rem 3rem;
  }

  @include from(ll) {
    height : calc(100vh - #{$headerHeightLL});
    justify-content: space-between;
  }

  @include from(4k) {
    height: calc(100vh - #{$headerHeight4K});
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__description {
    font-size: 0.9rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include from(mm) {
      font-size: 1.2rem;
    }

    @include from(ml) {
      font-size: 1.4rem;
    }

    @include from(t) {
      height: 55%;
      font-size: 2rem;
    }

    @include from(l) {
      font-size: 1.6rem;
    }

    @include from(ll) {
      font-size: 2rem;
    }

    @include from(4k) {
      font-size: 3rem;
    }
  }

  &__introduce {
    padding-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.9rem;
    color: var(--firstColor);
    padding-bottom: 0.5rem;

    @include from(mm) {
      font-size: 2.3rem;
    }

    @include from(ml) {
      font-size: 2.7rem;
    }

    @include from(t) {
      font-size: 3rem;
    }

    @include from(ll) {
      font-size: 3.5rem;
    }

    @include from(4k) {
      font-size: 4.5rem;
    }
  }

  &__subtitle {
    font-size: 1.75rem;
    color: #767676;
    padding-bottom: 1.5rem;

    @include from(mm) {
      font-size: 2rem;
    }

    @include from(ml) {
      font-size: 2.2rem;
    }

    @include from(t) {
      font-size: 2.5rem;
    }

    @include from(ll) {
      font-size: 3rem;
    }

    @include from(4k) {
      font-size: 4rem;
    }
  }

  &__paragraph {
    padding-bottom: 1rem;

    @include from(l) {
      padding-bottom: 1.5rem;
    }

    @include from(ll) {
      padding-bottom: 1.75rem;
    }

    @include from(4k) {
      padding-bottom: 2.5rem;
    }
  }

  &__buttons {
    height: auto;
    width: max-content;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: var(--firstColor);
    border: 0.1rem solid var(--firstColor);
    border-radius: 0.3rem;
    align-self: flex-start;
    width: max-content;
    padding: 0 .75rem;
    display: flex;
    align-items: center;

    @include from(mm) {
      font-size: 1.2rem;
    }

    @include from(ml) {
      font-size: 1.4rem;
    }

    @include from(t) {
      font-size: 1.8rem;
      height: 3.5rem;
      padding: 0 1rem;
    }

    @include from(l) {
      font-size: 2rem;
      height: 4rem;
      padding: 0 1.2rem;
    }

    @include from(ll) {
      font-size: 2.2rem;
      height: 4.5rem;
      padding: 0 1.5rem;
    }

    @include from(4k) {
      font-size: 3rem;
      height: 7rem;
      padding: 0 2rem;
    }
  }

  &__shareDescription {
    display: flex;
    align-items: center;

    p {
      padding-right: .5rem;
    }
  }

  &__shareButton {
    margin-left: 1rem;
  }

  &__shareIcon {
    height: 100%;
    width: 1rem;
    fill: var(--firstColor);

    @include from(mm) {
      width: 1.2rem;
    }

    @include from(ml) {
      width: 1.4rem;
    }

    @include from(t) {
      width: 1.8rem;
    }

    @include from(4k) {
      width: 2.8rem;
    }
  }

  &__image {
    align-self: flex-end;
    width: 60%;
    height: 35%;
    margin-top: auto;
    padding-right: 1rem;

    @include from(mm) {
      height: 35%;
    }

    @include from(t) {
      margin-top: 0;
      height: 40%;
    }
  }
}

.aboutMe {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  scroll-snap-align: center;

  @include from(t) {
    height : calc(100vh - #{$headerHeightT} - #{$footerHeightT});
    padding: 0 2rem 2rem 2rem;
  }

  @include from(l) {
    height : calc(100vh - #{$headerHeightL});
    padding: 0 3rem 3rem 3rem;
  }

  &__description {
    font-size: 0.9rem;
    align-self: start;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include from(mm) {
      font-size: 1.2rem;
    }

    @include from(ml) {
      font-size: 1.4rem;
    }

    @include from(t) {
      font-size: 2rem;
    }

    @include from(l) {
      font-size: 1.6rem;
    }

    @include from(ll) {
      font-size: 2rem;
    }

    @include from(4k) {
      font-size: 3rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    color: var(--firstColor);
    padding-bottom: 1rem;

    @include from(mm) {
      font-size: 2rem;
    }

    @include from(ml) {
      font-size: 2.2rem;
    }

    @include from(t) {
      font-size: 2.5rem;
    }

    @include from(ll) {
      font-size: 3rem;
    }

    @include from(4k) {
      font-size: 4rem;
    }
  }

  &__introduce {
    padding-bottom: 0.5rem;
  }

  &__unexca {
    font-weight: bold;
    color: var(--firstColor);
  }

  &__imageContainer {
    background: var(--firstColor);
    height: 55vw;
    width: 55vw;
    border-radius: 100%;
    display: flex;

    @include from(l) {
      height: 30vw;
      width: 30vw;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
}