.portfolio {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__description {
		font-size: 0.7rem;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
		margin-left: 0;
	}

	&__paragraph {
		padding-bottom: 1.5rem;
	}

	&__subtitle {
		font-size: 1.25rem;
		color: #767676;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	&__originalityAndConfidentiality {
		text-align: justify;
		padding-bottom: 2rem;
	}

	&__image {
		align-self: center;
		width: 60%;
		height: auto;
	}

	&__works {
		min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
		width: 100%;
		display: flex;
		align-items: flex-start;
		padding: 1.5rem 1rem 0 1rem;
	}

	&__worksDescription {
		font-size: 1rem;
	}

	&__list {
		padding: 0 1rem;
	}

	&__item {
		min-height: 100%;
		scroll-snap-align: start;
	}

	&__itemTitle {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
	}

	&__item::marker {
		color: var(--firstColor);
	}

	&__itemDescription {
		padding-bottom: 1.5rem;
	}

	&__itemParagraph {
		padding-top: 0.2rem;
	}

	&__itemParagraph:nth-child(1) {
		padding-top: 0;
	}

	&__itemResume {
		padding-top: 1rem;
		text-align: center;
		font-size: 0.9rem;
	}

	&__itemImageContainer {
		background: var(--firstColor);
		border-radius: 1rem;
	}

	&__itemImage {
		height: auto;
		width: 100%;
		padding: 1.5rem;
		object-fit: cover;
	}
}
