@import "./home";
@import "./skills";
@import "./portfolio";
@import "./cv";

.route {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
