@import "./home";
@import "./skills";
@import "./portfolio";
@import "./cv";
@import "./contact";

.route {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;

	@include from(mm) {
		height: calc(100vh - #{$headerHeightMM} - #{$footerHeightM});
	}

	@include from(ml) {
		height: calc(100vh - #{$headerHeightML} - #{$footerHeightM});
	}

	@include from(t) {
		height: calc(100vh - #{$headerHeightT} - #{$footerHeightT});
	}

	@include from(l) {
		height: calc(100vh - #{$headerHeightT});
	}
}

.route::-webkit-scrollbar {
	display: none;
}
