.skills {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__description {
		font-size: 0.9rem;
		padding-bottom: 1rem;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
	}

	&__advantages {
		padding-left: 1rem;
	}

	&__advantage {
		padding-top: 0.3rem;
		color: black;
	}

	&__advantage:nth-child(1) {
		padding-top: 0;
	}

	&__advantage::marker {
		color: var(--firstColor);
	}

	&__image {
		align-self: flex-end;
		width: 85%;
		height: auto;
	}
}

.frontend {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__description {
		font-size: 0.9rem;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1.5rem;
	}

	&__skills {
		color: var(--firstColor);
		padding-bottom: 1rem;
		padding-left: 1rem;
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__image {
		align-self: center;
		width: 50%;
		height: auto;
	}
}

.backend {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	scroll-snap-align: start;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__description {
		font-size: 0.9rem;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
		width: 100%;
	}

	&__skills {
		color: var(--firstColor);
		padding-left: 1rem;
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__databases {
		padding-top: 0.2rem;
	}

	&__databases-image {
		display: flex;
		align-items: flex-start;
	}

	&__image {
		align-self: flex-end;
		width: 50%;
		height: 100%;
	}
}
