.skills {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100vw;
	display: flex;
	padding: 0 1rem 1rem 1rem;
	scroll-snap-align: start;

	@include from(t) {
		height: calc(100vh - #{$headerHeightT} - #{$footerHeightT});
		padding: 0 2rem 2rem 2rem;
	}

	@include from(l) {
		height: calc(100vh - #{$headerHeightL});
		padding: 0 3rem 3rem 3rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__description {
		font-size: 0.9rem;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include from(mm) {
			font-size: 1.2rem;
			height: 65%;
		}

		@include from(ml) {
			font-size: 1.4rem;
		}

		@include from(t) {
			font-size: 2rem;
		}
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;

		@include from(mm) {
			font-size: 2rem;
		}

		@include from(ml) {
			font-size: 2.2rem;
		}

		@include from(t) {
			font-size: 2.5rem;
		}
	}

	&__advantages {
		padding-left: 1rem;
	}

	&__advantage {
		padding-top: 0.3rem;
		color: black;
	}

	&__advantage:nth-child(1) {
		padding-top: 0;
	}

	&__advantage::marker {
		color: var(--firstColor);
	}

	&__image {
		align-self: flex-end;
		width: 80%;
		height: 40%;
		margin-top: auto;

		@include from(mm) {
			height: 30%;
		}

		@include from(t) {
			height: 35%;
		}
	}
}

.frontend {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100vw;
	display: flex;
	padding: 0 1rem 1rem 1rem;
	scroll-snap-align: start;

	@include from(t) {
		height: calc(100vh - #{$headerHeightT} - #{$footerHeightT});
		padding: 0 2rem 2rem 2rem;
	}

	@include from(l) {
		height: calc(100vh - #{$headerHeightL});
		padding: 0 3rem 3rem 3rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	&__description {
		font-size: 0.9rem;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include from(mm) {
			font-size: 1.2rem;
		}

		@include from(ml) {
			font-size: 1.4rem;
		}

		@include from(t) {
			font-size: 2rem;
		}
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1.5rem;

		@include from(mm) {
			font-size: 2rem;
		}

		@include from(ml) {
			font-size: 2.2rem;
		}

		@include from(t) {
			font-size: 2.5rem;
		}
	}

	&__skills {
		color: var(--firstColor);
		padding-left: 1rem;
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__image {
		align-self: center;
		width: auto;
		height: 16%;
		margin-top: auto;
		padding-right: 2rem;
	}
}

.backend {
	height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100vw;
	display: flex;
	padding: 0 1rem;
	scroll-snap-align: start;

	@include from(t) {
		height: calc(100vh - #{$headerHeightT} - #{$footerHeightT});
		padding: 0 2rem 2rem 2rem;
	}

	@include from(l) {
		height: calc(100vh - #{$headerHeightL});
		padding: 0 3rem 3rem 3rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__description {
		font-size: 0.9rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include from(mm) {
			font-size: 1.2rem;
		}

		@include from(ml) {
			font-size: 1.4rem;
		}

		@include from(t) {
			font-size: 2rem;
		}
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
		width: 100%;

		@include from(mm) {
			font-size: 2rem;
		}

		@include from(ml) {
			font-size: 2.2rem;
		}

		@include from(t) {
			font-size: 2.5rem;
		}
	}

	&__skills {
		color: var(--firstColor);
		padding-left: 1rem;
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__databases {
		padding-top: 0.2rem;
	}

	&__databases-image {
		display: flex;
		align-items: flex-start;
	}

	&__image {
		align-self: flex-end;
		width: 50%;
		height: 100%;
	}
}
