.skills {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;

	&__description {
		font-size: 1rem;
		width: 88%;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
	}

	&__advantage {
		padding-top: 0.3rem;
		color: black;
	}

	&__advantage:nth-child(1) {
		padding-top: 0;
	}

	&__advantage::marker {
		color: var(--firstColor);
	}

	&__image {
		align-self: flex-end;
		width: 70%;
		height: auto;
	}
}

.frontend {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;

	&__description {
		font-size: 1rem;
		width: 88%;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1.5rem;
	}

	&__skills {
		color: var(--firstColor);
		padding-bottom: 1rem;
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__image {
		align-self: center;
		width: 50%;
		height: auto;
	}
}

.backend {
	min-height: calc(100vh - #{$headerHeightM} - #{$footerHeightM});
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;

	&__description {
		font-size: 1rem;
		width: 88%;
	}

	&__title {
		font-size: 1.75rem;
		color: var(--firstColor);
		padding-bottom: 1rem;
		width: 100%;
	}

	&__skills {
		color: var(--firstColor);
	}

	&__skill {
		padding-top: 0.3rem;
	}

	&__skill:nth-child(1) {
		padding-top: 0;
	}

	&__databases {
		padding-top: 0.2rem;
	}

	&__image {
		align-self: center;
		width: 40%;
		height: auto;
		position: absolute;
		right: 1rem;
		bottom: -140%;
	}
}
