.darkMode {
	.footer {
		background-color: var(--darkColor);
		border-top: none;

		&__icon {
			fill: #a8abaf;
		}

		&__iconName {
			color: #a8abaf;
		}

		&__iconColor {
			fill: var(--darkColor);
		}

		&__selected {
			fill: white;
		}

		&__iconSelected {
			fill: white;
		}
	}
}
