.darkMode {
	.nav {
		background: var(--darkColor);
		border-left: none;
		animation: dark ease 0.5s;
	}

	.menu {
		&__link {
			color: white;
		}
	}

	.copyright {
		&__copyrightDescription {
			color: white;
		}

		&__languajesLink {
			color: #a5a8ac;
		}

		&__languajes {
			color: #a5a8ac;
		}

		&__languajesSelected {
			color: white;
		}
	}
}
