.article {
	margin-top: $headerHeightM;
	margin-bottom: $footerHeightM;
	min-height: calc(100% - #{$headerHeightM});
	animation: fadeIn ease 0.25s;

	@include from(l) {
		margin-top: $headerHeightL;
		height: calc(100% - #{$footerHeightL} - #{$footerHeightL});
	}
}
