.article {
	margin-top: $headerHeightM;
	margin-bottom: $footerHeightM;
	min-height: 100%;
	animation: fadeIn ease 0.3s;

	@include from(mm) {
		margin-top: $headerHeightMM;
	}

	@include from(ml) {
		margin-top: $headerHeightML;
	}

	@include from(t) {
		margin-top: $headerHeightT;
		margin-bottom: $footerHeightT;
		min-height: calc(100% - #{$headerHeightT});
	}

	@include from(l) {
		margin-top: $headerHeightL;
		height: calc(100% - #{$headerHeightL});
		margin-bottom: 0;
	}
}
