.copyright {
	height: $footerHeightM;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: auto;
	margin-bottom: $footerHeightM;

	@include from(l) {
		height: $footerHeightL;
	}

	&__container {
		width: 80%;
		height: $footerHeightM;

		@include from(l) {
			box-sizing: border-box;
			height: 100%;
			max-width: $widthL;
			display: flex;
			flex-direction: column;
		}
	}

	&__copyright {
		border-top: 1px solid $borderColor;
		padding-top: 0.5rem;
		display: flex;
		justify-content: center;

		@include from(l) {
			padding-top: 0.5rem;
		}
	}

	&__copyrightDescription {
		font-size: 0.8rem;
		text-align: center;
		width: 11rem;

		@include from(l) {
			font-size: 1rem;
		}
	}

	&__languajes {
		padding-top: 0.9rem;
		color: $borderColor;
		font-size: 0.7rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@include from(t) {
			font-size: 0.8rem;
		}
	}

	&__languajesContainer {
		height: 100%;
		display: flex;
		align-items: center;
		color: $textColor;
	}

	&__languajesLink {
		color: rgb(118, 118, 118);
	}

	&__languajesEnglish {
		padding-right: 0.2rem;
	}

	&__languajesSpanish {
		padding-left: 0.2rem;
	}

	&__languajesSelected {
		color: black;
	}
}
