.footer {
	position: fixed;
	width: 100%;
	background-color: white;
	height: $footerHeightM;
	bottom: 0;
	border-top: 0.1rem solid $borderColor;
	display: flex;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	&__icon {
		fill: white;
		width: 30%;
		height: auto;
		padding-bottom: 0.4rem;
	}

	&__iconName {
		font-size: 0.6rem;
		padding-bottom: 0.4rem;
	}

	&__selected {
		color: var(--firstColor);
	}

	&__iconSelected {
		fill: var(--firstColor);
	}
}
