.header {
	height: 10%;
	background-color: var(--firstColor);
	width: 100vw;
	position: fixed;
	z-index: var(--zFixed);
	box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);

	@include from(t) {
		height: $headerHeightT;
	}

	@include from(l) {
		position: fixed;
		height: $headerHeightL;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__container {
		justify-content: space-between;
		align-items: center;
		height: 100%;
		display: flex;

		@include from(l) {
			width: 100%;
			padding: 0 0 0 0;
			justify-content: space-between;
			margin: auto;
		}
	}

	&__logoContainer {
		padding-left: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		@include from(l) {
			padding-left: 2rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		height: 80%;
		width: auto;
	}

	&__logo {
		height: 100%;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__h1 {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 1.2rem;
		color: white;
		padding: 0.3rem;
		border: 0.1rem solid white;
		border-radius: 0.6rem;
		background-color: #22323bff;
		font-weight: normal;
	}

	&__menuToggleContainer {
		padding-right: 1rem;
		display: flex;
	}

	&__menuToggle {
		fill: white;
		width: 1.8rem;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		@include from(t) {
			width: 2.5rem;
		}

		@include from(l) {
			display: none;
		}
	}

	&__menuToggle::before {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__menuToggle:hover {
		animation: activeLogo alternate ease 0.25s;
		animation-iteration-count: 2;
	}
}

@keyframes activeLogo {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.02);
	}
	50% {
		transform: scale(1.04);
	}
	75% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
