.nav {
	position: fixed;
	top: $headerHeightM;
	right: calc(-70% - 2px);
	width: 70%;
	height: calc(100% - #{$headerHeightM});
	background: #232323;
	transition: right ease 0.5s;
	opacity: 0.99;

	@include from(l) {
		position: relative;
		left: 0;
		top: 0;
		background: transparent;
		padding-top: 0;
		height: 100%;
		width: auto;
		display: flex;
		justify-content: center;
		padding-right: 1rem;
	}

	&__menu {
		@include from(l) {
			height: 100%;
			display: flex;
		}
	}
}

.menuShow {
	right: 0;
	height: 100%;
	box-shadow: -2px 0 5px 1px rgba(0, 0, 0, 0.2);
	animation: menuShow ease 0.5s;

	@include from(l) {
		box-shadow: none;
	}

	@keyframes menuShow {
		from {
			right: -70%;
		}
		to {
			right: 0;
		}
	}
}

.menuHide {
	right: -70%;
}

.menu {
	&__item {
		border-bottom: 2px solid #283e4a;
		cursor: pointer;
		height: 4rem;

		@include from(l) {
			border-bottom: none;
			height: 100%;
			width: 7rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__link {
		color: white;
		font-size: 1rem;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 1.5rem;

		@include from(l) {
			font-size: 1rem;
			padding-left: 0;
			justify-content: center;
		}
	}
}

.menu__item:hover {
	@include from(l) {
		background: rgba(0, 0, 0, 0.09);
	}
}

.selectedMenuLink {
	background: rgba(0, 0, 0, 0.2);
}
