.nav {
	position: fixed;
	top: $headerHeightM;
	right: -70%;
	width: 70%;
	height: calc(100% - #{$headerHeightM});
	background: #fafafa;
	transition: right ease 0.5s;
	opacity: 0.99;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 0.1rem solid $borderColor;
	padding: 1rem;
	animation: light 0.5s ease;

	@include from(t) {
		top: $headerHeightT;
		height: calc(100% - #{$headerHeightT});
	}

	@include from(l) {
		position: relative;
		left: 0;
		top: 0;
		background: transparent;
		padding-top: 0;
		height: 100%;
		width: auto;
		display: flex;
		justify-content: center;
		border-left: none;
		padding: 0 1rem 0 0;
		animation: none;
	}

	&__menu {
		@include from(l) {
			height: 100%;
			display: flex;
		}
	}
}

.menuShow {
	right: 0;
	height: calc(100% - #{$headerHeightM});
	box-shadow: -0.5rem 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);

	@include from(t) {
		height: calc(100% - #{$headerHeightT});
	}

	@include from(l) {
		right: -70%;
		height: 100%;
		box-shadow: none;
	}
}

.menuHide {
	right: -70%;
}

.menu {
	&__item {
		border-bottom: 0.2rem solid var(--firstColor);
		cursor: pointer;
		height: 3rem;

		@include from(mm) {
			height: 4rem;
		}

		@include from(ml) {
			height: 4.2rem;
		}

		@include from(t) {
			height: 4.5rem;
		}

		@include from(l) {
			border-bottom: none;
			height: 100%;
			width: 7rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include from(ll) {
			width: 7.5rem;
		}

		@include from(4k) {
			width: 12rem;
		}
	}

	&__lang {
		display: none;

		@include from(l) {
			display: block;
		}
	}

	&__link {
		font-size: 1rem;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 1rem;

		@include from(mm) {
			font-size: 1.2rem;
		}

		@include from(ml) {
			font-size: 1.4rem;
		}

		@include from(t) {
			font-size: 1.6rem;
		}

		@include from(l) {
			font-size: 1rem;
			padding: 0;
			justify-content: center;
			color: white;
		}

		@include from(ll) {
			font-size: 1.2rem;
		}

		@include from(4k) {
			font-size: 2rem;
		}
	}

	&__langLink {
		padding-right: 0.3rem;
	}
}

.languageIcon {
	height: 40%;
	width: auto;
	fill: white;
}

.switch {
	background: #343d5b;
	border-radius: 10rem;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;

	@include from(l) {
		border: 0.01rem solid #f1f1f1;
	}
	&::after {
		content: "";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		background: #f1f1f1;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100%;
		box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
	}

	&.dark {
		&::after {
			right: 0;
			left: unset;
		}
	}
}

.switchIcon {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	fill: white;
	display: flex;
	justify-content: center;
	align-items: center;

	@include from(4k) {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.darkDescription {
	padding-right: 1rem;
}

.switchsvg {
	height: 1rem;

	@include from(4k) {
		height: 2rem;
	}
}

.selectedMenuLink {
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
}

.copyright {
	width: 100%;

	@include from(l) {
		display: none;
	}

	&__copyright {
		width: 100%;

		@include from(l) {
			padding-top: 0.5rem;
		}
	}

	&__copyrightDescription {
		font-size: 0.8rem;
		text-align: center;

		@include from(mm) {
			font-size: 1rem;
		}

		@include from(ml) {
			font-size: 1.1rem;
		}

		@include from(t) {
			font-size: 1.2rem;
		}

		@include from(l) {
			font-size: 1rem;
		}
	}

	&__languajes {
		padding-top: 0.9rem;
		color: $textColor;
		font-size: 0.7rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@include from(mm) {
			font-size: 0.9rem;
		}

		@include from(ml) {
			font-size: 1rem;
		}

		@include from(t) {
			font-size: 1rem;
		}
	}

	&__languajesContainer {
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__languajesLink {
		color: $textColor;
	}

	&__languajesEnglish {
		padding-right: 0.2rem;
	}

	&__languajesSpanish {
		padding-left: 0.2rem;
	}

	&__languajesSelected {
		color: black;
	}
}

.darkDescription {
	@include from(l) {
		display: none;
	}
}
