:root {
  --firstColor: #283e4a;
  --darkColor: #232323;
  --darkFlyer1: #18191a;
}

:root {
  --zBack: -10;
  --zNormal: 1;
  --zTooltip: 10;
  --zFixed: 100;
  --zModal: 1000;
}

:root {
  --h1FontSize: 2rem;
  --h2FontSize: 1.5rem;
  --bodyFontSize: 0.1rem;
  --smallFontSize: 0.75rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --h1FontSize: 2.5rem;
    --h2FontSize: 2rem;
    --bodyFontSize: 1rem;
    --smallFontSize: 0.8rem;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  min-height: 100%;
  font-size: var(--bodyFontSize);
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 3.5rem;
  background-color: var(--firstColor);
  width: 100vw;
  position: fixed;
  z-index: var(--zFixed);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    height: 4.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header__container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .header__container {
    width: 100%;
    padding: 0 0 0 0;
    justify-content: space-between;
    margin: auto;
  }
}
.header__logoContainer {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .header__logoContainer {
    padding-left: 2rem;
  }
}
.header__link {
  display: flex;
  align-items: center;
  height: 80%;
  width: auto;
}
.header__logo {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  padding: 0.3rem;
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  background-color: #22323bff;
  font-weight: normal;
}
.header__menuToggleContainer {
  padding-right: 1rem;
  display: flex;
}
.header__menuToggle {
  fill: white;
  width: 1.8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .header__menuToggle {
    display: none;
  }
}
.header__menuToggle::before {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menuToggle:hover {
  animation: activeLogo alternate ease 0.25s;
  animation-iteration-count: 2;
}

@keyframes activeLogo {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.04);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.nav {
  position: fixed;
  top: 3.5rem;
  right: -70%;
  width: 70%;
  height: calc(100% - 3.5rem);
  background: #fafafa;
  transition: right ease 0.5s;
  opacity: 0.99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #ccc;
  padding: 1rem;
  animation: light 0.5s ease;
}
@media screen and (min-width: 1024px) {
  .nav {
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    padding-top: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    border-left: none;
    padding: 0 1rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav__menu {
    height: 100%;
    display: flex;
  }
}

.menuShow {
  right: 0;
  height: calc(100% - 3.5rem);
  box-shadow: -5px 0 5px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
  .menuShow {
    box-shadow: none;
  }
}

.menuHide {
  right: -70%;
}

.menu__item {
  border-bottom: 2px solid var(--firstColor);
  cursor: pointer;
  height: 3rem;
}
@media screen and (min-width: 1024px) {
  .menu__item {
    border-bottom: none;
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.menu__link {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1024px) {
  .menu__link {
    font-size: 1rem;
    padding-left: 0;
    justify-content: center;
    color: white;
  }
}

.switch {
  background: #343d5b;
  border-radius: 10rem;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.dark::after {
  right: 0;
  left: unset;
}

.switchIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkDescription {
  padding-right: 1rem;
}

.switchsvg {
  height: 1rem;
}

.selectedMenuLink {
  background: rgba(0, 0, 0, 0.2);
}

.copyright {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .copyright {
    display: none;
  }
}
.copyright__copyright {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .copyright__copyright {
    padding-top: 0.5rem;
  }
}
.copyright__copyrightDescription {
  font-size: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .copyright__copyrightDescription {
    font-size: 1rem;
  }
}
.copyright__languajes {
  padding-top: 0.9rem;
  color: #767676;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .copyright__languajes {
    font-size: 0.8rem;
  }
}
.copyright__languajesContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.copyright__languajesLink {
  color: #767676;
}
.copyright__languajesEnglish {
  padding-right: 0.2rem;
}
.copyright__languajesSpanish {
  padding-left: 0.2rem;
}
.copyright__languajesSelected {
  color: black;
}

.article {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  height: calc(100% - 3.5rem);
  animation: fadeIn ease 0.25s;
}
@media screen and (min-width: 1024px) {
  .article {
    margin-top: 4.9rem;
    height: calc(100% - 5rem - 5rem);
  }
}

.footer {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 3rem;
  bottom: 0;
  border-top: 1px solid #ccc;
  display: flex;
  animation: light 0.5s ease;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.footer__icon {
  fill: white;
  width: 30%;
  height: auto;
  padding-bottom: 0.4rem;
}
.footer__iconName {
  font-size: 0.6rem;
  padding-bottom: 0.4rem;
}
.footer__selected {
  color: var(--firstColor);
}
.footer__iconSelected {
  fill: var(--firstColor);
}

.layout {
  height: 100%;
}

.darkMode .nav {
  background: var(--darkColor);
  border-left: none;
  animation: dark ease 0.5s;
}
.darkMode .menu__link {
  color: white;
}
.darkMode .copyright__copyrightDescription {
  color: white;
}
.darkMode .copyright__languajes {
  color: #767676;
}
.darkMode .copyright__languajesSelected {
  color: white;
}

.darkMode .article {
  background-color: var(--darkFlyer1);
}

.darkMode .footer {
  background-color: var(--darkColor);
  opacity: 0.99;
  border-top: none;
  animation: dark 0.5s ease;
}
.darkMode .footer__icon {
  fill: #a8abaf;
}
.darkMode .footer__iconName {
  color: #a8abaf;
}
.darkMode .footer__iconColor {
  fill: var(--darkColor);
  animation: darkIcon 0.5s ease;
}
.darkMode .footer__selected {
  color: white;
}
.darkMode .footer__iconSelected {
  fill: white;
}

.darkMode .route__title {
  color: #e4e6eb;
}
.darkMode .route__link {
  color: #e4e6eb;
}
.darkMode .route__description {
  color: #a8abaf;
}

@keyframes dark {
  from {
    background: white;
  }
  to {
    background: var(--darkColor);
  }
}
@keyframes light {
  from {
    background: var(--darkColor);
  }
  to {
    background: white;
  }
}
@keyframes darkIcon {
  from {
    fill: white;
  }
  to {
    fill: var(--darkColor);
  }
}
.home {
  height: calc(100vh - 3.5rem - 3rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}
.home__description {
  font-size: 1.2rem;
}
.home__introduce {
  padding-bottom: 1rem;
}
.home__title {
  font-size: 2rem;
  color: var(--firstColor);
  padding-bottom: 0.5rem;
}
.home__subtitle {
  font-size: 2rem;
  color: var(--firstColor);
  padding-bottom: 1.5rem;
}
.home__getInTouch {
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: var(--firstColor);
  border: 2px solid var(--firstColor);
  border-radius: 3px;
  padding: 1rem;
  align-self: flex-start;
}

.route {
  height: calc(100vh - 3.5rem - 3rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader__index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.loader__homeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  border-top-color: var(--firstColor);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollToTop {
  position: fixed;
  bottom: calc(3rem + 1rem);
  right: 1.8rem;
  background-color: var(--firstColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  clip-path: circle(50% at 50% 50%);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in;
}
@media screen and (min-width: 1024px) {
  .scrollToTop {
    bottom: 3rem;
    right: 3rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.scrollToTopArrow {
  fill: white;
  height: 50%;
  width: 40%;
  animation: scrollTop 0.5s alternate ease infinite;
}
@media screen and (min-width: 1024px) {
  .scrollToTopArrow {
    font-size: 1.8rem;
  }
}
@keyframes scrollTop {
  from {
    transform: translateY(0.2rem);
  }
  to {
    transform: translateY(-0.2rem);
  }
}

/*# sourceMappingURL=index.css.map */
