/* Error: Undefined variable.
 *    ,
 * 37 |   top: $headerHeightMm;
 *    |        ^^^^^^^^^^^^^^^
 *    '
 *   scss\base\base.scss 37:8       @content
 *   scss\config\mixins.scss 15:13  from()
 *   scss\base\base.scss 35:2       @import
 *   scss\index.scss 5:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 37 \2502    top: $headerHeightMm;\d\a    \2502         ^^^^^^^^^^^^^^^\a    \2575 \a   scss\\base\\base.scss 37:8       @content\a   scss\\config\\mixins.scss 15:13  from()\a   scss\\base\\base.scss 35:2       @import\a   scss\\index.scss 5:9            root stylesheet";
}
