.darkMode {
  .home {
    &__title {
      color: white;
    }

    &__subtitle {
      color: $subtitleColor;
    }

    &__description {
      color: $darkTextColor;
    }

    &__button {
      background-color: var(--firstColor);
      color: $subtitleColor;
      border: 0.1rem solid $darkTextColor;
    }

    &__shareIcon {
      fill: $subtitleColor;
    }

    &__image {
      fill: $subtitleColor;
    }
  }

  .aboutMe {
    color: $darkTextColor;

    &__title {
      color: white;
    }

    &__unexca {
      font-weight: bold;
      color: $subtitleColor;
    }

    &__imageContainer {
      border: 0.1rem solid $darkTextColor;
    }
  }
}