.darkMode {
	.home {
		&__title {
			color: white;
		}

		&__subtitle {
			color: $subtitleColor;
		}

		&__description {
			color: $darkTextColor;
		}

		&__getInTouchButton {
			background-color: var(--firstColor);
			color: $subtitleColor;
			border: 1px solid $darkTextColor;
		}

		&__image {
			fill: $subtitleColor;
		}
	}

	.aboutMe {
		color: $darkTextColor;

		&__title {
			color: white;
		}

		&__unexca {
			font-weight: bold;
			color: $subtitleColor;
		}

		&__imageContainer {
			border: 1px solid $darkTextColor;
		}
	}
}
