$breakpoints: (
  ms: 320px,
	mm: 375px,
	ml: 425px,
	t: 768px,
	l: 1024px,
	ll: 1440px,
	4k: 2560px
);

@mixin from($bp){

    @if map-has-key($breakpoints, $bp){
        @media screen and (min-width : map_get($breakpoints, $bp)){
            @content;
        }
    }
    @else{
        @media screen and (min-width: $bp){
            @content;
        }
    }
}