$breakpoints: (
    l: 960px
);

@mixin from($bp){

    @if map-has-key($breakpoints, $bp){
        @media screen and (min-width : map_get($breakpoints, $bp)){
            @content;
        }
    }
    @else{
        @media screen and (min-width: $bp){
            @content;
        }
    }
}