$headerHeightM: 3.5rem;
$headerHeightMM: 3.75rem;
$headerHeightML: 4rem;
$headerHeightT: 4.5rem;
$headerHeightL: 4.5rem;

$footerHeightM: 3.2rem;
$footerHeightT: 4.4rem;
$footerHeightL: 3.2rem;

$navLinkColor: #00cbff;

$footerBackgroundColor: #2a3b47;
$footerColor: #00cbff;

$borderColor: #ccc;

$textColor: rgb(118, 118, 118);

$darkTextColor: #a8abaf;
$subtitleColor: #e4e6eb;

$breakpoints: (
	ms: 320px,
	mm: 375px,
	ml: 425px,
	t: 768px,
	l: 1024px,
	ll: 1440px,
	4k: 2560px,
);

//PALETA DE COLORES
:root {
	--firstColor: #283e4a;

	--darkColor: #232323;
	--darkFlyer1: #18191a;
}

//VARIABLES DE APILAMIENTO
:root {
	--zBack: -10;
	--zNormal: 1;
	--zTooltip: 10;
	--zFixed: 100;
	--zModal: 1000;
}

//VARIABLES DE TIPOGRAFÍA
:root {
	--h1FontSize: 2rem;
	--h2FontSize: 1.5rem;
	--bodyFontSize: 0.1rem;
	--smallFontSize: 0.75rem;

	@include from(l) {
		--h1FontSize: 2.5rem;
		--h2FontSize: 2rem;
		--bodyFontSize: 1rem;
		--smallFontSize: 0.8rem;
	}
}
