@import "./layout/layout";
@import "./routes/routes";
@import "./scroll/scorll";

@keyframes dark {
	from {
		background: white;
	}
	to {
		background: var(--darkColor);
	}
}

@keyframes light {
	from {
		background: var(--darkColor);
	}
	to {
		background: white;
	}
}
