.footer{
    min-height: $footerHeightM;
    display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: flex-start;
		margin-top: auto;

    @include from(l){
        min-height: $footerHeightL;
    }

    &__container{

        border-top: 1px solid $borderColor;
        
        @include from(l){
            box-sizing: border-box;
            height: 100%;
            max-width: $widthL;
            display: flex;
            justify-content: center;
        }
		}
		
		&__copyright{
			font-size: .5rem;
			padding-top: .2rem;
			color: $textColor;
		}

}