.nav{
    position: fixed;
    top: $headerHeightM;
    right: -75%;
    width: 75%;
    height: calc(100% - #{$headerHeightM});
    background:#232323;
    transition: right .5s;
    z-index: var(--zFixed);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include from(l){
        position: relative;
        left: 0;
        top: 0;
        background: transparent;
        padding-top: 0;
        height: 100%;
				width: auto;
				display: flex;
				justify-content: center;
    }

    &__menu{
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    
        @include from(l){
						height: 100%;
            display: flex;
        }
    }

    &__copyright{
        padding-bottom: .25rem;
        @include from(l){
            display: none;
        }
    }

    &__copyrightDescription{
        padding-bottom: .25rem;
        color: white;
        font-size: .5rem;
        text-align: center;
    }
}

.menuShow{
    right: 0;
}

.menu{

    &__item{
        padding: 1.5rem 1.5rem;
        border-bottom: 2px solid #283e4a;
				color: white;
				

        @include from(l){
            padding: .7rem 1.1rem;
						border-bottom: none;
						height: 100%;
						width: 7rem;
						display: flex;
						align-items: center;
						justify-content: center;
        }
    }

    &__link{
        color: $borderColor;
				font-size: 1rem;
    
        @include from(l){
            color: $textColor;
						font-size: 1rem;
        }
    }

}

.menu__item:hover{

    @include from(l){
			background: rgba(0,0,0,0.09)
    }
}

.selectedMenuLink{
	background: rgba(0,0,0,0.2)
}
